In [1]:
%matplotlib inline
import pandas as pd
import geopandas as gpd
import nivapy3 as nivapy
import matplotlib.pyplot as plt
import critical_loads as cl

plt.style.use('ggplot')

# Nitrogen deposition by land cover class

Generating summary N deposition statistics based on AR50 land cover. See the issue [here](https://github.com/JamesSample/critical_loads_2/issues/5) for details.

**Note:** In order to run this notebook for the entire country, it is necessary to log-in using a **high memory** machine.

## 1. Read raw datasets

In [2]:
# Connect to DSToolkit spatial data server
eng = nivapy.da.connect_postgis()

Connection successful.

In [3]:
# Connect to CL database
cl_eng = nivapy.da.connect_postgis(database='critical_loads')

Connection successful.

In [4]:
## Get Aust-Agder boundary. Just for testing - reduces computational time
#fyl = nivapy.da.read_postgis('cultural', 'norway_kartverket_fylker_2019_poly', eng)
#fyl = fyl.query('fylkes_navn == "Aust-Agder"')
#fyl

In [5]:
# Read AR50
ar50 = nivapy.da.read_postgis('physical', 'norway_nibio_ar50_poly', eng) # Add clip=fyl for sub-setting

# Remove invalid polys
ar50 = ar50[~ar50.geom.is_empty]

# Reproject to equal area proj for area calcs. Note that this takes a long time
ar50 = ar50.to_crs({'proj':'cea'})

ar50.head()

,ardyrking,arjordbr,arkartstd,arskogbon,artreslag,artype,arveget,fylke,komid,description,geom,id
0,99,98,AR50,98,39,50,52,12,1253,Snaumark: Fastmark med naturlig vegetasjonsdek...,"MULTIPOLYGON (((628192.280 5539299.548, 628203...",1
1,81,98,AR50,18,31,30,98,12,1253,Skog: Skogdekt areal,"MULTIPOLYGON (((613256.780 5536375.597, 613176...",2
2,81,98,AR50,18,32,60,98,12,1253,Myr: Areal som på overflata har preg av myr,"MULTIPOLYGON (((606540.248 5532623.341, 606468...",3
3,81,98,AR50,18,39,60,98,12,1253,Myr: Areal som på overflata har preg av myr,"MULTIPOLYGON (((605221.999 5532168.217, 605187...",4
4,81,98,AR50,18,31,60,98,12,1253,Myr: Areal som på overflata har preg av myr,"MULTIPOLYGON (((615747.044 5532413.275, 615749...",5

In [6]:
# Show series already in database
with pd.option_context("display.max_colwidth", -1):
    ser_grid = cl.view_dep_series(cl_eng)
    display(ser_grid)

,series_id,name,short_name,grid,description
0,1,Middel 1978-1982,7882,blr,Fordelt til BLR av NILU 2002
1,2,Middel 1992-1996,9296,blr,Fordelt til BLR av NILU 2002
2,3,Middel 1997-2001,9701,blr,Fordelt til BLR av NILU 2002
3,4,Middel 2002-2006,0206,blr,Fordelt til BLR av NILU 2008 (Wenche Aas)
4,5,Beregnet 2010,None,None,"Gøteborg protokollen 1999. ""Gamle"""
5,6,Middel 1983-1987,None,None,Tall fra den gamle tålegrensebasen(D_S/N). OBS Verdier omgjort fra g til mg
6,7,Middel 1988-1992,None,None,Tall fra den gamle tålegrensebasen(D-S90) NB kun S.OBS Verdier omgjort fra g til mg
7,8,"2010 (EMEP/CCE 2008) ""his""",None,None,NB: konvertert fra ekv/ha/yr til mekv/m2/yr (/10). 24.10.1010. TOH Her er det noe rart
8,9,"2020 (EMEP/CCE 2008) ""MFR""",None,None,NB: konvertert fra ekv/ha/yr til mekv/m2/yr (/10) 24.10.1010. TOH Her er det noe rart
9,10,"2020 (EMEP/CCE 2008) ""CLE""",None,None,NB: konvertert fra ekv/ha/yr til mekv/m2/yr (/10) 24.10.1010. TOH Her er det noe rart
10,11,expost gridav NAT2000,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
11,12,expost gridav NAT2020,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
12,13,expost gridav PRI2020,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
13,14,expost gridav PRI2030,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
14,15,expost gridav MFR2020,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
15,16,Call 2008 HIS2000,None,None,Tall fra Call 2008 erstatter EMEP/CCE 2008. 24.10.20010. Snitt EMEP ruter i BLR
16,17,Call 2008 HIS2010,None,None,Tall fra Call 2008 erstatter EMEP/CCE 2008. 24.10.20010. Snitt EMEP ruter i BLR
17,18,Call 2008 CLE2020,None,None,Tall fra Call 2008 erstatter EMEP/CCE 2008. 24.10.20010 Snitt EMEP ruter i BLR
18,19,Call 2008 MFR2020,None,None,Tall fra Call 2008 erstatter EMEP/CCE 2008. 24.10.20010 Snitt EMEP ruter i BLR
19,20,expost gridav NAT2000-Update,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
20,21,expost gridav NAT2020-Update,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
21,22,expost gridav PRI2020-Update,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
22,23,expost gridav PRI2030-Update,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
23,24,expost gridav MFR2020-Update,None,None,"Lagt inn i forb. med ex-Post analyser 2010 Fordelt til BLR av ELU, konvertert til mekv/m2/år"
24,25,Middel 2007-2011,0711,blr,Fordelt til BLR av NILU 2012 (Wenche Aas)
25,26,Middel 2012-2016,1216_old,blr,Fordelt til BLR av NILU 2017 (Wenche Aas; old method)
26,27,Middel 2012-2016 (new),1216_blrgrid,blr,Fordelt til BLR av NILU 2017 (Wenche Aas; new method)
27,28,Middel 2012-2016 (new; hi-res),1216,0_1deg,Fordelt til 0.1 grader grid av NILU 2017 (Wenche Aas; new method; 0.1 degree grid)
28,29,Middel 1983-1987,8387,blr,Fordelt til BLR av NILU 2019 (Wenche Aas; old method)
29,30,Middel 1988-1992,8892,blr,Fordelt til BLR av NILU 2019 (Wenche Aas; old method)
30,31,EMEP 1880,emep1880,emep,1880 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
31,32,EMEP 1885,emep1885,emep,1885 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
32,33,EMEP 1890,emep1890,emep,1890 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
33,34,EMEP 1895,emep1895,emep,1895 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
34,35,EMEP 1900,emep1900,emep,1900 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
35,36,EMEP 1905,emep1905,emep,1905 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
36,37,EMEP 1910,emep1910,emep,1910 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
37,38,EMEP 1915,emep1915,emep,1915 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
38,39,EMEP 1920,emep1920,emep,1920 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
39,40,EMEP 1925,emep1925,emep,1925 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
40,41,EMEP 1930,emep1930,emep,1930 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
41,42,EMEP 1935,emep1935,emep,1935 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
42,43,EMEP 1940,emep1940,emep,1940 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
43,44,EMEP 1945,emep1945,emep,1945 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
44,45,EMEP 1950,emep1950,emep,1950 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
45,46,EMEP 1955,emep1955,emep,1955 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
46,47,EMEP 1960,emep1960,emep,1960 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
47,48,EMEP 1965,emep1965,emep,1965 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
48,49,EMEP 1970,emep1970,emep,1970 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
49,50,EMEP 1975,emep1975,emep,1975 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
50,51,EMEP 1980,emep1980,emep,1980 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
51,52,EMEP 1985,emep1985,emep,1985 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
52,53,EMEP 1990,emep1990,emep,1990 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
53,54,EMEP 1995,emep1995,emep,1995 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
54,55,EMEP 2000,emep2000,emep,2000 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
55,56,EMEP 2005,emep2005,emep,2005 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
56,57,EMEP 2010,emep2010,emep,2010 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
57,58,EMEP 2020,emep2020,emep,2020 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes
58,59,EMEP 2030,emep2030,emep,2030 data based on the EMEP 0.50x0.25 degree grid. Includes values for different vegetation classes

The series of interest here is **Middel 2012-2016 (new; hi-res)**, which has ID 28.

In [7]:
# Read N dep
n_gdf = cl.extract_deposition_as_gdf(28, 'nitrogen', cl_eng)
n_gdf = n_gdf[~n_gdf.geom.is_empty]  # Remove invalid polys

# Reproject to 'cea', as above
n_gdf = n_gdf.to_crs(ar50.crs)

n_gdf.head()

,geom,cell_id,ndep_mgpm2pyr,ndep_meqpm2pyr,ndep_kgphapyr
0,"MULTIPOLYGON (((734708.639 5395985.264, 734708...",58050655,840.0,59.957173,8.40
1,"MULTIPOLYGON (((743528.731 5393774.833, 742870...",58050665,911.0,65.024982,9.11
2,"MULTIPOLYGON (((756972.537 5395985.264, 756972...",58050675,1014.0,72.376874,10.14
3,"MULTIPOLYGON (((768104.486 5392967.593, 768104...",58050685,1070.0,76.374019,10.70
4,"MULTIPOLYGON (((779236.436 5390888.048, 779236...",58050695,1108.0,79.086367,11.08

## 2. Polygon intersections

In [8]:
%%time
gdf = gpd.overlay(ar50, n_gdf, how='intersection')
gdf['area_km2'] = gdf.geometry.area / 1E6
gdf['n_dep_poly_tonnespyr'] = gdf['ndep_mgpm2pyr'] * gdf['area_km2'] / 1000
gdf.head()

CPU times: user 19min 29s, sys: 9.3 s, total: 19min 38s
Wall time: 19min 38s

,ardyrking,arjordbr,arkartstd,arskogbon,artreslag,artype,arveget,fylke,komid,description,id,cell_id,ndep_mgpm2pyr,ndep_meqpm2pyr,ndep_kgphapyr,geometry,area_km2,n_dep_poly_tonnespyr
0,99,98,AR50,98,39,50,52,12,1253,Snaumark: Fastmark med naturlig vegetasjonsdek...,1,60650565,875.0,62.455389,8.75,"POLYGON ((628192.280 5539299.548, 628203.806 5...",0.001311,0.001148
1,81,98,AR50,11,31,30,98,12,1253,Skog: Skogdekt areal,9,60650565,875.0,62.455389,8.75,"POLYGON ((627610.173 5542655.758, 627672.790 5...",0.004164,0.003643
2,81,98,AR50,18,99,30,98,12,1253,Skog: Skogdekt areal,10,60650565,875.0,62.455389,8.75,"POLYGON ((625207.207 5541447.567, 625293.489 5...",0.001794,0.001570
3,81,98,AR50,18,31,30,98,12,1253,Skog: Skogdekt areal,17,60650565,875.0,62.455389,8.75,"POLYGON ((626798.141 5542434.697, 626697.628 5...",0.003525,0.003085
4,81,98,AR50,18,33,30,98,12,1253,Skog: Skogdekt areal,21,60650565,875.0,62.455389,8.75,"POLYGON ((626936.190 5543780.357, 626945.904 5...",0.033821,0.029593

In [9]:
# AR50 themes of interest
themes = ['artype', 'artreslag', 'arveget']

# Loop over themes
for theme in themes:
    # Group by AR50 class
    df = gdf.groupby(theme).agg({'n_dep_poly_tonnespyr':'sum',
                                 'area_km2':'sum'}).reset_index()
    
    # Print results
    print('############################################################################')
    print(f'Results for {theme}')
    print(df)
    print('')

    # Save
    fpath = f'../ar50_summaries/{theme}.csv'
    df.to_csv(fpath, index=False)

############################################################################
Results for artype
  artype  n_dep_poly_tonnespyr       area_km2
0     10           1347.524063    1772.602125
1     20           7829.672193   12290.029021
2     30          57471.048182  124226.925938
3     50          39304.654125  136650.145149
4     60           7344.901462   21648.396497
5     70            798.317491    2830.077426
6     81           7406.516675   18391.762636
7     82           1672.832249    3344.193682
8     99              0.153353       0.610818

############################################################################
Results for artreslag
  artreslag  n_dep_poly_tonnespyr       area_km2
0        31          40235.902570   73129.904056
1        32          10997.236923   29855.882984
2        33           3553.017366    7289.486175
3        39          43850.037276  151808.396029
4        98          19055.016024   38629.275709
5        99           5484.409636   20441.798340

############################################################################
Results for arveget
  arveget  n_dep_poly_tonnespyr       area_km2
0      51           5291.230975   22332.021852
1      52           9423.939585   34331.214006
2      53            775.633921    3732.969706
3      54          10680.936872   37103.820494
4      55          12272.065740   36580.801504
5      98          83870.965669  184504.598145
6      99            860.847033    2569.317587