In [1]:
import os
from collections import defaultdict

import numpy as np
import pandas as pd
import rioxarray as rio

# Average exceedances

See e-mail from Kari received 22.06.2023 at 12.45. This notebook calculates the mean of all cells where the exceedance is greater than zero.

In [2]:
# User options
cell_size = 120

# Series to use
series_dict = {
    "7882": (1978, 1982),
    "8387": (1983, 1987),
    "8892": (1988, 1992),
    "9296": (1992, 1996),
    "9701": (1997, 2001),
    "0206": (2002, 2006),
    "0711": (2007, 2011),
    "1216_old": (2012, 2016),
    "1721_old": (2017, 2021),
    "1721_blrgrid": (2017, 2021),
    "1721_metgrid": (2017, 2021),
}

# Exceedances to consider
model_list = ["soil", "veg", "sswc", "fab"]

In [3]:
def build_path(base_path, series, model, cell_size):
    """ """
    if model == "soil":
        fname = f"soil_ex_mgpm2pyr_{series}_{cell_size}m.tif"
    elif model == "veg":
        fname = f"veg_ex_mgpm2pyr_{series}_{cell_size}m.tif"
    elif model == "sswc":
        fname = f"sswc_ex_meqpm2pyr_{series}_{cell_size}m.tif"
    elif model == "fab":
        fname = f"fab_exns_meqpm2pyr_{series}_{cell_size}m.tif"
    else:
        raise ValueError("'model' is not valid.")

    return os.path.join(base_path, series, fname)

In [4]:
base_path = r"/home/jovyan/shared/critical_loads/raster/exceedance"
data = defaultdict(list)
for series, (st_yr, end_yr) in series_dict.items():
    for model in model_list:
        # Read data
        fname = build_path(base_path, series, model, cell_size)
        ds = rio.open_rasterio(fname, mask_and_scale=True)

        # Get exceedances
        ex_area = (ds > 0).sum().item() * cell_size * cell_size / 1e6
        tot_area = ds.notnull().sum().item() * cell_size * cell_size / 1e6
        avg_ex = ds.where(ds > 0).mean().item()

        # FAB and SSWC are already in meq/m2/yr; soil and veg are in mg/m2/yr
        if model == "fab":
            medium = "water_fab"
        elif model == "sswc":
            medium = "water_sswc"
        elif model == "veg":
            # Only based on N. Convert to meq/m2/yr
            medium = "vegetation"
            avg_ex = avg_ex / 14.01
        elif model == "soil":
            # Only based on S. Convert to meq/m2/yr
            medium = "soil"
            avg_ex = avg_ex * 2 / 32.06
        else:
            raise ValueError("'model' is not valid.")

        data["short_name"].append(series)
        data["medium"].append(medium)
        # data["tot_area_km2"].append(round(tot_area))
        # data["ex_area_km2"].append(round(ex_area))
        data["avg_ex_meqpm2pyr"].append(round(avg_ex, 1))

df = pd.DataFrame(data)

# Save
out_csv = r"../../summaries/average_exceedance_june_2023.csv"
df.to_csv(out_csv, index=False)

df

      short_name      medium  avg_ex_meqpm2pyr
0           7882        soil              10.1
1           7882  vegetation              26.9
2           7882  water_sswc              33.8
3           7882   water_fab              53.8
4           8387        soil              10.4
5           8387  vegetation              38.2
6           8387  water_sswc              33.0
7           8387   water_fab              63.9
8           8892        soil              11.4
9           8892  vegetation              35.9
10          8892  water_sswc              33.2
11          8892   water_fab              61.1
12          9296        soil               2.7
13          9296  vegetation              23.8
14          9296  water_sswc              23.2
15          9296   water_fab              40.4
16          9701        soil               NaN
17          9701  vegetation              22.2
18          9701  water_sswc              20.6
19          9701   water_fab              37.8
20          0206        soil               NaN
21          0206  vegetation              22.5
22          0206  water_sswc              16.4
23          0206   water_fab              36.7
24          0711        soil               NaN
25          0711  vegetation              19.3
26          0711  water_sswc              12.7
27          0711   water_fab              30.1
28      1216_old        soil               NaN
29      1216_old  vegetation              22.0
30      1216_old  water_sswc              11.0
31      1216_old   water_fab              31.5
32      1721_old        soil               NaN
33      1721_old  vegetation              11.8
34      1721_old  water_sswc               9.2
35      1721_old   water_fab              21.3
36  1721_blrgrid        soil               NaN
37  1721_blrgrid  vegetation              11.6
38  1721_blrgrid  water_sswc               9.7
39  1721_blrgrid   water_fab              22.8
40  1721_metgrid        soil               NaN
41  1721_metgrid  vegetation              12.1
42  1721_metgrid  water_sswc               9.6
43  1721_metgrid   water_fab              22.7